/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Local fonts (uncomment following lines)
@font-face {
  font-family: "Futura";
     src:     font-url('Futura.ttf') format('truetype')
}
$beach-buddy-font: "Futura";

$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: $beach-buddy-font, "Raleway", "sans-serif";
// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
// yellow
$brand-color: #F7F71D;
// green
// $brand-color: #31E22B;
//orange
// $brand-color: #ED3E04;
// blue
// $brand-color: #5472DD;

// (yellow) purple
$brand-complementary-color: #22062B;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #1A1B1C;
