<div id="video-container" class="video-container">
  <video autoplay="" muted="" loop="" class="embed-responsive-item video-banner" id="autovid" width="100%">
    <source src="http://res.cloudinary.com/dchxwllhb/video/upload/v1496131878/Beach_buddy_2.2_puugb2.mp4">
  </video>

  <div class="callout">
    <br><br><br>
    <h1>Find Beach Volleyball players to challenge you</h1>
    <br><br><br><br><br><br>

   <form action="/players" class="home-bb-search">
      <input id="players-search" name="location" type="text" class="home-bb-search-input" placeholder="Anywhere">
      <button type="submit" class="home-bb-search-input home-bb-search-btn">
        <i class="fa fa-search"></i>
      </button>
      <%# amplifier = content_tag(:i, "", {class: ['fa', 'fa-search']}) %>
      <%# button_to "#{amplifier}", users_path,
      class: "home-bb-search-input home-bb-search-btn", method: :get %>
    </form>
    <br>
    <div>
    <!-- user logged in, find random player of same level and gender  -->
    <%= link_to "I'm feeling lucky", user_path(@recommended_user), class: "btn btn-primary btn-lucky" %>
    <!-- user not logged in, find random player -->


  </div>
  </div>
</div>
<div class="home-bb-levels-banner-wrapper">
  <div class="text-center">
    <h3>STUFF THAT SAYS THERE'S MORE TO READ</h3>
  </div>
  <div class="home-bb-levels-banner-level-box-wrapper">
    <div class="home-bb-levels-banner-level-box">
      <span class="product-level product-level-beginner">beginner</span>
      <p>lorem ipsum</p>
    </div>
  </div>
</div>
<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= j ENV['GOOGLE_API_BROWSER_KEY'] %>"></script>
<% end %>
