<!--   <div class="bbbox bbbox-item"> -->
      <br><br>
    <div class="text-center">

      <% if @user == current_user %>
        <%= link_to "Edit profile", profile_path, class: "beachbuddy-btn-complementary"  %>
      <% else %>
        <a href="#" class="beachbuddy-btn beachbuddy-btn-complementary">SHOW CONTACT DETAILS</a>
      <% end %>
    </div>
    <br>
  <!-- </div> -->

  <div class="text-center">
      <p class="bb-alert-orange">
        <% if @user == current_user && @user.city == "Atlantis" %>
          Please update your usual volley ball court address!
        <br><br>
        <% end %>
      </p>
    <h4>Usual Court</h4>
  </div>
  <div class="bbbox">
    <!-- ex until we implement geocoder -->
    <%# image_tag "map_ex", class: "bbbox-map" %>
    <div id="map" style="width: 100%; height: 500px;"></div>

  </div>
