  <div class="bbbox bbbox-item">
    <div class="">
      <!-- <a href="mailto:#{<%= @user.email %>}" class="beachbuddy-btn beachbuddy-btn-main">CONTACT</a> -->
      <a href="#" class="beachbuddy-btn beachbuddy-btn-main">SHOW CONTACT DETAILS</a>

    </div>
  </div>

  <div class="bbbox">
    <!-- ex until we implement geocoder -->
    <%= image_tag "map_ex", class: "bbbox-map" %>
  </div>
